#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#players {
    display: flex;
    justify-content: center;
    /* align-content: center; */
}


#players div {
    padding-left: 50px;
    padding-right: 50px;
}

#results {
    padding-top: 50px;
    padding-bottom: 50px;

}